#mapContainer {
  width: 50%;
  height: 600px;
  display: inline-block;
}

#sidebar {
  display: inline-block;
  position: absolute;
  padding: 15px;
  background: #cdcdcd;
  width: 50%;
  height: 600px;
}