#mapContainer {
  width: 50%;
  height: 700px;
  display: inline-block;
}

#sidebar {
  display: inline-block;
  position: absolute;
  padding: 15px;
  background: #cdcdcd;
  width: 50%;
  height: 700px;
}

@media (min-width: 1200px)
.container {
    width: 500px !important;
}